.tag-button {
    padding: 0.6rem 1.5rem;
    border: none;
    font-size: 1.1rem;
    font-weight: 900;
    border-radius: 3rem;
    width: fit-content;
    height: fit-content;
    background-color: #EE99C2;
}